body {
    margin: 0;
    background-color: #EAE9EC;
  }
  
  #main {
    display: flex;
    flex-direction: row;
  }
  
  #content {
    align-self: center;
    width: 100%;
  }
  
  .background {
    filter:grayscale(0.5);
    width: 30%;
    height:fit-content;
  }
  
  .background-frame{
    float: right;
    display: flex;
    flex-direction: row;
    background: no-repeat url("background.jpg");
  }
  
  .logo {
    width: -moz-fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logoImg {
    width: 75%;
    height: auto;
  }
  
  .logoFirstName {
    font-size: xx-large;
    border: solid 5px black;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .logoFamilyName {
    font-size: xx-large;
    border: solid 5px black;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -15px;
  }
  
  .logoDesc {
    font-size: large;
    position: relative;
    color: grey;
  }
  
  .socialLink {
    border-radius: 100%;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
  }
  
  .socialLink > svg {
    margin: 15px;
  }
  
  .linkedin {
    background-color: #0077B5;
  }
  
  .linkedin > svg {
    fill: white;
  }
  
  .X {
    background-color: black;
  }
  
  .X > svg {
    fill: white;
  }
  
  .github {
    background-color: #181717;
  }
  
  .github > svg {
    fill: white;
  }
  
  .contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  hr {
    margin-top:3%;
    margin-bottom: 3%;
  }
  
  .frame {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.42);
  }

.frameDownload {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
}

  .selfie {
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .desc {
    display: flex;
    flex-direction: column;
  }
  
  #frameCV {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: fill .4s ease;
    fill:black;
  }
  
  #frameCV:hover {
    fill:grey;
  }
  
  .CVlogo {
    width: 150px;
    margin-bottom: 10px;
  }